.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; 
  margin: 8.75rem ;
}

.page,
.arrow {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: white;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: #3b82f6;
  color: white;
  border-color: #3b82f6;
  font-weight: bold;
}

.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
