#bestItemSection{
  width: 75rem;
  margin-top: 1.62rem;
  margin-bottom: 2.5rem;
  flex-direction: column;
}

.sectionTitle{
  color: var(--secondary-900);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.itemLsit{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}