/* 글자 기본크기 설정 */
html {
  font-size: 62.5%;
}

a, button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

:root {
  --Secondary-800: #1F2937;
  --Cool-Gray-100: #F3F4F6;
  --Secondary-400: #9CA3AF;
  --brand-blue: #3692FF;
  --Primary-100: #3692FF;
  --Cool-Gray-800: #1F2937;
  --error-red: #F74747;
}


/* 회원가입 박스 */
.signup-container {
  margin:6rem auto 0 ;
  max-width: 64rem;
  display:flex;
  flex-direction: column;
  padding: 2rem;
}

.login-logo {
  display: flex;
  justify-content: center;
  margin: 0 0 4rem 0;
}

.login-logo img {
  width: 39.6rem;
  height: 13.2rem;  
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.form-group {
    margin-bottom: 2.4rem;
}

.signup-label {
  font-family: 'Pretendard', sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  color: var(--Cool-Gray-800);
  margin-bottom: 1.6rem;
  display: block;
}


.signup-input {
  position: relative;
  width: 100%;
}

.signup-input input {
  padding: 1.6rem 2.4rem;
  align-items: center;
  width: 100%;
  height: 5.6rem;
  border-radius: 1.2rem;
  background: var(--Cool-Gray-100);
  border: none;
  font-size: 1.6rem;
}

.signup-input input::placeholder {
  color: var(--Secondary-400);
  font-family: 'Pretendard', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.signup-input input:focus {
  outline: 1px solid var(--brand-blue);
}

.eye-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.4rem;
  cursor: pointer;
  width: 2.4rem; 
  height: 2.4rem;
}


/* 회원가입 버튼 */
.signup-button {
  display:flex;
  width: 100%;
  height: 5.6rem;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  color: var(--Cool-Gray-100);
  background: var(--Secondary-400);
  text-align: center;
  font-family: 'Pretendard';
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  border:none;
}

/* 간편로그인 */
.easy-login {
  display:flex;
  width: 100%;
  height: 7.4rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 2.3rem;
  background: #E6F2FF;
  border-radius: 0.8rem;
  margin-top: 2.4rem;
}

.google, .kakao {
  width: 4.2rem;
  height: 4.2rem;
}

.social-login {
  display:flex;
  gap:1.6rem;
}

#easy-text {
  color: var(--Secondary-800);
  font-family: 'Pretendard';
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  align-items: center;
}

#question-text {
  color: var(--Secondary-800);
  font-family: 'Pretendard';
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
}

#log-in-button{
  color: var(--Primary-100);
  font-family: Pretendard;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration-line: underline;
}

.sign-up{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:0.4rem;
  margin-top: 2.4rem;
}

/* 유효성 검사 */
.error-message {
  color: var(--error-red, #F74747);
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 0.8rem;
  margin-left: 1.6rem;
  display: none;
}

.error-message.show {
    display: block;
}


.error-border {
    outline: 1px solid var(--error-red) !important;
}

.signup-button:disabled {
    background-color: var(--Secondary-400);
    cursor: not-allowed;
}

.signup-button:enabled {
    background-color: var(--brand-blue);
    cursor: pointer;
}

.alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
}

.alert-modal {
  width: 540px;
  height: 250px;
  background: #FFF;
  border-radius: 8px;
  flex-shrink: 0;
  position: relative;
}

#alert-message {
  color: var(--Cool-Gray-800, #1F2937);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  width: 100%;
  top: 108px;
  left: 50%;
  transform: translateX(-50%);
}

#alert-confirm-btn {
  display: flex;
  width: 120px;
  height: 48px;
  padding: 12px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--brand-blue, #3692FF);
  border: none;
  color: #FFF;
  font-family: Pretendard;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  bottom: 28px;
  right: 28px;
}

