
html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  padding-top: 7rem; 
}

a, button {
  cursor: pointer;
}

.menu-bar {
  background-color: #FFF;
  border-bottom: 1px solid #DFDFDF;
  height: 7rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.menu-bar-container {
  max-width: 111rem; 
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 15.3rem;
  height: 5.1rem;
  justify-content: center;
}

.login-button {
  background-color: #3692FF;
  border-radius: 0.8rem;
  padding: 1.2rem 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F3F4F6;
  font-family: 'Pretendard', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.6rem;
  text-decoration: none;
}

.hero-section {
  background-color: #CFE5FF;
  height: 54rem;
}

.hero-container {
  max-width: 111rem;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative; 
}

.hero-text {
  position: absolute;
  bottom: 4rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
}

.hero-text h2 {
  color: #374151;
  font-family: 'Pretendard', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.4;
}

.button {
  background-color: #3692FF;
  border-radius: 4rem;
  padding: 1.6rem 12.4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #F9FAFB;
  font-family: 'Pretendard', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom:60px;
}

.panda-image {
  position: absolute;
  right: 0;
  bottom: 0;
}

.panda-image img {
  width: 74.6rem;
  height: 34rem; 
  vertical-align: bottom;
}

.features-section {
  padding: 13.8rem 0;
}

.features-container {
  max-width: 98.8rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

.feature-item-1, 
.feature-item-2, 
.feature-item-3 {
  display: flex;
  align-items: center;
  gap: 6.4rem;
}

.feature-item-2 {
  flex-direction: row-reverse;
}

.feature-item-2 .feature-text-group {
  align-items: flex-end;
}
.feature-item-2 .feature-text-group h3,
.feature-item-2 .feature-text-group p {
  text-align: right;
}

.feature-image img {
  width: 58.8rem;
  height: 44.4rem;
}

.feature-text-group {
  display: flex;
  flex-direction: column;
}

.feature-title {
  color: #3692FF;
  font-family: 'Pretendard', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  margin-bottom: 1.2rem;
}

.feature-text-group h3 {
  color: #374151;
  font-family: 'Pretendard', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.08rem;
  margin-bottom: 2.4rem;
}

.feature-text-group p:last-child {
  color: #374151;
  font-family: 'Pretendard', sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.33;
}

.last-section {
  background-color: #CFE5FF;
  padding-top: 14.3rem ;
}

.last-section-container {
  max-width: 111rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last-section-container h2 {
  color: #374151;
  font-family: 'Pretendard', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.4;

}

.last-section-container img {
  width: 74.6rem;
  height: 39.7rem;
}

.footer {
  background-color: #111827;
  height: 16rem;
  padding: 3.2rem 20rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.footer-container {
  width: 100%;
  max-width: 152rem;
  display: flex;
  justify-content: space-between;
}

.copyright-text {
  color: #9CA3AF;
  font-family: 'Pretendard', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.footer-links {
  display: flex;
  gap: 3rem;
}


.footer-links a {
  color: #E5E7EB;
  font-family: 'Pretendard', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
}

.social-icons {
  display: flex;
  gap: 1.2rem;
  
}

.icon {
  height: 2rem;
  width: 2rem;
}