/* 전체 박스 반응형 너비 및 마진 조정 */

#productList {
  width: 75rem;
  display: flex;
  flex-direction: column;
  margin-left: 25rem;
  margin-top: 2rem;

  @media screen and (max-width:744px) {
    & {
      width: 43.5rem;
      margin-left: 1rem;
    }

    @media screen and (max-width:480px) {
      & {
        width: 100%;
        margin-left: 0;
        padding: 0 1rem;
      }
    }
  }
}

/* 제목 스타일 */

.productListFont {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
  white-space: nowrap;
  margin-left: 1rem;

  @media screen and (max-width: 744px) {
    & {
      margin-left: 1rem;
    }
  }

  @media screen and (max-width: 480px) {
    & {
      margin-left: 0.5rem;
      white-space: nowrap;
    }
  }
}

/* 상품 리스트 내 아이템 그리드 */

.productGrid {
  display: grid;
  gap: 2rem 1rem;
  margin: 1rem auto 0 auto;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1200px;

  @media screen and (max-width: 744px) {
    grid-template-columns: repeat(3, 1fr);
    width: auto;
    margin-left: 1rem;
  }

  @media screen and (max-width:480px) {
    grid-template-columns: 1fr;
    margin-left: 1rem;
  }
}




@media screen and (max-width: 765px) {

  .productListFont {
    margin: 1rem 34rem 0 26rem;
  }

  .productGrid {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 1rem;
    width: auto;
  }

  .productListInner {

    margin-left: 1rem;

  }

  .productListFont {
    margin: 1rem auto 0 2rem;
  }
}

@media screen and (min-width: 744px) {
  .productList {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
  }

}


@media screen and (max-width: 480px) {

  .productListFont {
    margin: 1rem 34rem 0 26rem;
  }

  .productGrid {
    grid-template-columns: (1, 1fr);
    margin-left: 1rem;
    width: auto;
  }

}


.searchInput {
  display: flex;
  width: 22rem;
  padding: 0.5625rem 1.25rem 0.5625rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  border: none;
  border-radius: 0.75rem;
  background-color: #F3F4F6;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  background-image: url('../../resources/img/ic_search.png');
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 9%;
  padding-left: 40px;
  height: 2.625rem;
}

@media (max-width: 1199px) {
  .searchInput {
    width: 206px;
  }
}


.searchBtn {
  display: flex;
  height: 2.625rem;
  padding: 0.75rem 1.4375rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border: none;
  background-color: #3692FF;
  color: white;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.625rem;
  cursor: pointer;
  white-space: nowrap;
}

.searchSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 10px;
  margin-left: -6rem;
}

.productListInner {
  width: 100%;
  height: 2.625rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.sortBtn {
  width: 130px;
  padding: 12px 20px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;


  @media screen and (max-width: 480px) {
    & {
      background-image: url(../../resources/img/ic_sort.png);
    }
  }
}



.paginationBarWrapper {
  padding-top: 40px;
  padding-bottom: 80px;
}

.sortDropdownTriggerButton {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  width: 8rem;
  height: 2.5rem;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sortButtonWrapper {
  position: relative;
  margin-left: 15px;
}

.productListWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 740px) {
  .productListFont {
    display: flex;
    position: relative;
    bottom: 60px;
    margin-left: 0px;
  }

  .searchSection {
    position: relative;
    right: 30px;
  }
}