:root{
  --primary-100: #3692FF;
  --primary-200: #1967D6;
  --primary-300: #1251AA;
  --secondary-900: #111827;
  --secondary-800: #1F2937;
  --secondary-700: #374151;
  --secondary-600: #4B5563;
  --secondary-500: #6B7280;
  --secondary-400: #9CA3AF;
  --secondary-200: #E5E7EB;
  --secondary-100: #F3F4F6;
  --secondary-50: #F9FAFB;
  --err-red: #F74747;
  --bg-gray: #FCFCFC;
}

*{
  box-sizing: border-box;
  font-family: 'Pretendard';
  font-style: normal;
}

body{
  background: var(--bg-gray);
  margin: 0 auto;
}

#root{ 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

header, main, section, footer{
  display: flex;
  width: 100%;
}

a{
  text-decoration: none;
}

a, button, input{
  cursor: pointer;
}

#header{
  position: fixed;
  height: 4.4rem;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #DFDFDF;
}

#nav{
  display: flex;
  width: 120rem;
  height: 4.4rem;
  padding: 0px 25rem;
  justify-content: space-between;
  align-items: center;
}

#nav-left{
  display: flex;
  align-items: center;
  gap: 1.5rem
}

.nav-menu{
  padding: 0 0.94rem;
  color: var(--secondary-600);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.625rem;
}

.main{
  justify-content: center;
  margin-top: 4.4rem;
}

.item-main{
  width: 75rem;
  flex-wrap: wrap;
}

#footer{
  justify-content: center;
  align-items: flex-start;
  background: var(--secondary-900);
  text-align: center;
}

#title{
  width: 9.6rem;
  height: 3.2rem;
}

.logo{
  width: 100%;
  height: 100%;
}

#footer-box{
  display: flex;
  width: 120rem;
  height: 10rem;
  padding: 2rem 12.5rem;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
}

#footer-box > ul{
  display: flex;
  align-items: flex-start;
}

#footer-box > ul > li{
  display: inline-block;
}

#copyright{
  color: var(--secondary-400);
  font-size: 1rem;
  font-weight: 400;
}

#cs-list{
  gap: 1.875rem;
}

#cs-list a{
  color: var(--secondary-200);
  font-size: 1rem; 
  font-weight: 400;}

#sns-list{
  gap: 0.75rem;
}

#sns-list img{
  width: 1.25rem;
}

.s-btn{
  display: inline-block;
  padding: 0 1.4375rem;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--primary-100);
  text-align: center;
  color:var(--secondary-100);
  font-size: 1rem;
  font-weight: 600;
  line-height: 3rem;
}

.s-btn.compact{
  height: 2.625rem;
  line-height: 2.625rem;
}

.l-btn{
  display: inline-block;
  width: 100%;
  height: 3.5rem;
  border: none;
  border-radius: 2.5rem;
  background: var(--primary-100);
  text-align: center;
  color:var(--secondary-100);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 3.5rem;
}

.s-btn:disabled, .l-btn:disabled{
  background: var(--secondary-400);
  cursor: not-allowed;
}

.line-break{
  display: block;
}

.alert-message-box {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.70);
}

.message-popup{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 33.75rem;
  height: 15.625rem;
  padding: 1.75rem;
  background-color: white;
  border-radius: 0.5rem;
}

.popup-text{
  color: var(--secondary-800);
  text-align: center; 
  font-weight: 500;
  margin-top: 3rem;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.popup-btn-warp{
  width: 100%;
  display: flex;
  justify-content: flex-end; 
}

.dropdown-menu{
  width: 8rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.625rem;
  text-align: center;
  color: var(--secondary-800);
}

.dropdown-menu button{
  width: 100%;
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

.dropdown-menu > .dropdown-menu-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.625rem;
  padding: 0.75rem 1.25rem;
  border-radius: 0.75rem;
  border: 1px solid var(--secondary-200);
  background: white;
}

.dropdown-icon{
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}

.dropdown-icon > img{
  width: 100%;
  height: 100%;
}

.dropdown-menu-selecte{
  display: none;
  width: 8rem;
  margin-top: 0.5rem;
  border-radius: 0.75rem;
  border: 1px solid var(--secondary-200);
  background: white;
  position: relative;
  z-index: 0;
}

.dropdown-menu-selecte.on{
  display: block;
}

.dropdown-menu-selecte > li{
  width: 100%;
  height: 2.625rem;
  border-bottom: 1px solid var(--secondary-200);;
}

.dropdown-menu-selecte > li:last-child{
  border-bottom: none;
}

@media screen and (max-width: 120rem) {
  #nav{
    width: 100%;
    padding: 0 12.5rem;
  }

  #footer-box{
    width: 100%;
  }
}

@media screen and (max-width: 74.9rem){
  #nav{
    padding: 0 1.5rem;
  }

  #footer-box{
    padding: 2rem 1.5rem;
  }
}

@media screen and (max-width: 46.4rem) {
  #nav{
    padding: 0 1rem;
  }
  
  #title{
    width: 5rem;
    height: auto;
  }

  #nav-left{
    gap: 0.5rem;
  }

  .nav-menu{
    padding: 0 0.5rem 0 0 ;
    font-size: 1rem;
  }

  #footer-box{
    padding: 2rem 1rem;
    flex-wrap: wrap-reverse;
  }

  #copyright{
    width: 100%;
    margin: 1.5rem 0 2rem;
    text-align: start;
  }

  .message-popup{
    width: 20.4rem;
    height: 13.75rem;
    padding: 1.44rem;
  }

  .popup-btn-warp{
    justify-content: center; 
  }
}