:root {
  --primary-100: #3692ff;
  --primary-200: #1967d6;
  --primary-300: #1251aa;
  --secondary-900: #111827;
  --secondary-800: #1f2937;
  --secondary-700: #374151;
  --secondary-600: #4b5563;
  --secondary-500: #6b7280;
  --secondary-400: #9ca3af;
  --secondary-200: #e5e7eb;
  --secondary-100: #f3f4f6;
  --secondary-50: #f9fafb;
  --err-red: #f74747;
  --bg-gray: #fcfcfc;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard';
  font-style: normal;
  background: var(--bg-gray);
  margin: 0 auto;
}

#root {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

header,
main,
section,
footer {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
}

a,
button,
input {
  cursor: pointer;
}

textarea {
  font: initial;
}

.main {
  justify-content: center;
  margin-top: 4.4rem;
}

.s-btn {
  display: inline-block;
  padding: 0 1.4375rem;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--primary-100);
  text-align: center;
  color: var(--secondary-100);
  font-size: 1rem;
  font-weight: 600;
  line-height: 3rem;
}

.s-btn.compact {
  height: 2.625rem;
  line-height: 2.625rem;
}

.l-btn {
  display: inline-block;
  width: 100%;
  height: 3.5rem;
  border: none;
  border-radius: 2.5rem;
  background: var(--primary-100);
  text-align: center;
  color: var(--secondary-100);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 3.5rem;
}

.s-btn:disabled,
.l-btn:disabled {
  background: var(--secondary-400);
  cursor: not-allowed;
}

.line-break {
  display: block;
}

.input-wrap {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  padding: 0.5625rem 1rem;
  border-radius: 0.75rem;
  background: var(--secondary-100);
}

.input-wrap.large-form {
  padding: 1rem 1.5rem;
}

.input-wrap > .input-value {
  width: 100%;
  height: 1.5rem;
  border: none;
  background: var(--secondary-100);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.input-wrap > .input-value:focus {
  outline: none;
}

.input-wrap > .input-value::placeholder {
  color: var(--secondary-400);
}

.input-wrap:focus-within {
  border: 1px solid var(--primary-100);
}

.input-warning {
  border: 1px solid var(--err-red);
}

.warning-message {
  margin: 0.5rem 0 0 1rem;
  color: var(--err-red);
  font-size: 0.97rem;
  font-weight: 600;
}

.alert-message-box {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.message-popup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 33.75rem;
  height: 15.625rem;
  padding: 1.75rem;
  background-color: white;
  border-radius: 0.5rem;
}

.popup-text {
  color: var(--secondary-800);
  text-align: center;
  font-weight: 500;
  margin-top: 3rem;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.popup-btn-warp {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 46.4rem) {
  .message-popup {
    width: 20.4rem;
    height: 13.75rem;
    padding: 1.44rem;
  }

  .popup-btn-warp {
    justify-content: center;
  }
}
