@font-face {
  font-family: 'ROKAF';
  font-style: normal;
  font-weight: 400;
  src: url('/resources/fonts/ROKAF Sans Bold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Pretendard', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'ROKAF',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: #333;
  margin: 0;
}