.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cardDescription {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.cardTitle {
  font-family: var(--font-family-base);
  font-size: var(--font-md);
  color: var(--color-secondary-800);
  font-weight: 500;
}

.cardPrice {
  font-family: var(--font-family-base);
  font-size: var(--font-lg);
  color: var(--color-secondary-800);
  font-weight: 700;
}

.cardLikes {
  color: var(--color-secondary-600);
  font-family: var(--font-family-base);
  font-size: var(--font-xs);
  font-weight: 500;
}