@import "tailwindcss";

:root {
  --primary-100: #3692ff;
  --primary-200: #1967d6;
  --primary-300: #1251aa;
  --secondary-900: #111827;
  --secondary-800: #1f2937;
  --secondary-700: #374151;
  --secondary-600: #4b5563;
  --secondary-500: #6b7280;
  --secondary-400: #9ca3af;
  --secondary-200: #e5e7eb;
  --secondary-100: #f3f4f6;
  --secondary-50: #f9fafb;
  --err-red: #f74747;
  --bg-gray: #fcfcfc;
}

* {
  box-sizing: border-box;
}

body {
  font-style: normal;
  background: var(--bg-gray);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
