.favoriteContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  padding-top: var(--font-lg);
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 24px;
  padding-top: var(--font-lg);
}

@media screen and (max-width: 1200px){
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px){
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  } 
}